In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [2]:
from scipy.special import xlogy

In [3]:
traindf=pd.read_csv("./train.csv")
traindf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [70]:
for name in range(len(traindf['Name'])):
    for i in range(len(traindf['Name'][name])):
        if traindf['Name'][name][i]==',':
            traindf['Name'][name]=traindf['Name'][name][:i]
            break

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [5]:
for i in range(len(traindf)):
    if traindf["Sex"][i]=="female":
        traindf["Sex"][i]=1
    else:
        traindf["Sex"][i]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
for i in range(len(traindf['Embarked'])):
    if traindf['Embarked'][i]=="S":
        traindf['Embarked'][i]=0
    elif traindf['Embarked'][i]=="Q":
        traindf['Embarked'][i]=1
    elif traindf['Embarked'][i]=="C":
        traindf['Embarked'][i]=2

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [4]:
labels=traindf["Survived"]
#n=traindf['Name'].unique()
#d={}
#for i in range(len(n)):
#    d[n[i]]=i
#for i in range(len(traindf)):
#    traindf['Name'][i]=d[traindf['Name'][i]]
#traindf=traindf.drop(['Ticket','Cabin',],axis=1)

In [73]:
traindf['fam_size']=traindf['SibSp']+traindf['Parch']+1
traindf['designation']=traindf['Age']
for z in range(len(traindf["Name"])):
    if(traindf["Parch"][z]>0):
        if traindf['Age'][z]>18 and traindf['Age'][z]<25:
            traindf['designation'][z]=1
        elif traindf['Age'][z]<=18:
            traindf['designation'][z]=2
        else:
            traindf['designation'][z]=3
    else:
        traindf['designation'][z]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:

for i in traindf.columns[1:]:
    sd=np.max(traindf[i])-np.min(traindf[i])
    m=np.mean(traindf[i])
    traindf[i]=(traindf[i]-m)/sd
traindf=traindf.fillna(0)

In [6]:
traindf=traindf.drop(['PassengerId','Survived','Embarked','Cabin','Ticket','Name'],axis=1)

In [74]:
traindf["fam_cost"]=traindf['fam_size']*traindf['Fare']

In [75]:
traindf=traindf.drop(['Name'],axis=1)

In [17]:
labels=np.array(labels)
labels=np.reshape(labels,(labels.shape[0],1))

In [8]:
traindf=traindf.fillna(0)
traindf

     Pclass  Sex   Age  SibSp  Parch      Fare
0         3    0  22.0      1      0    7.2500
1         1    1  38.0      1      0   71.2833
2         3    1  26.0      0      0    7.9250
3         1    1  35.0      1      0   53.1000
4         3    0  35.0      0      0    8.0500
5         3    0   0.0      0      0    8.4583
6         1    0  54.0      0      0   51.8625
7         3    0   2.0      3      1   21.0750
8         3    1  27.0      0      2   11.1333
9         2    1  14.0      1      0   30.0708
10        3    1   4.0      1      1   16.7000
11        1    1  58.0      0      0   26.5500
12        3    0  20.0      0      0    8.0500
13        3    0  39.0      1      5   31.2750
14        3    1  14.0      0      0    7.8542
15        2    1  55.0      0      0   16.0000
16        3    0   2.0      4      1   29.1250
17        2    0   0.0      0      0   13.0000
18        3    1  31.0      1      0   18.0000
19        3    1   0.0      0      0    7.2250
20        2    0  35.0      0      0   26.0000
21        2    0  34.0      0      0   13.0000
22        3    1  15.0      0      0    8.0292
23        1    0  28.0      0      0   35.5000
24        3    1   8.0      3      1   21.0750
25        3    1  38.0      1      5   31.3875
26        3    0   0.0      0      0    7.2250
27        1    0  19.0      3      2  263.0000
28        3    1   0.0      0      0    7.8792
29        3    0   0.0      0      0    7.8958
..      ...  ...   ...    ...    ...       ...
861       2    0  21.0      1      0   11.5000
862       1    1  48.0      0      0   25.9292
863       3    1   0.0      8      2   69.5500
864       2    0  24.0      0      0   13.0000
865       2    1  42.0      0      0   13.0000
866       2    1  27.0      1      0   13.8583
867       1    0  31.0      0      0   50.4958
868       3    0   0.0      0      0    9.5000
869       3    0   4.0      1      1   11.1333
870       3    0  26.0      0      0    7.8958
871       1    1  47.0      1      1   52.5542
872       1    0  33.0      0      0    5.0000
873       3    0  47.0      0      0    9.0000
874       2    1  28.0      1      0   24.0000
875       3    1  15.0      0      0    7.2250
876       3    0  20.0      0      0    9.8458
877       3    0  19.0      0      0    7.8958
878       3    0   0.0      0      0    7.8958
879       1    1  56.0      0      1   83.1583
880       2    1  25.0      0      1   26.0000
881       3    0  33.0      0      0    7.8958
882       3    1  22.0      0      0   10.5167
883       2    0  28.0      0      0   10.5000
884       3    0  25.0      0      0    7.0500
885       3    1  39.0      0      5   29.1250
886       2    0  27.0      0      0   13.0000
887       1    1  19.0      0      0   30.0000
888       3    1   0.0      1      2   23.4500
889       1    0  26.0      0      0   30.0000
890       3    0  32.0      0      0    7.7500

[891 rows x 6 columns]

In [66]:
x=traindf.values
print(x.shape)
b=np.random.rand(1,1)
theta=np.random.rand(x.shape[1],1)
m=x.shape[0]
def sigmoid(x):
    return 1/(1+np.exp(-x))
def h(theta,x,b):
    y=np.dot(x,theta)+b
    return sigmoid(y)

def J(theta,x,b,y,regu=0.1):
    return (-np.sum(xlogy(y,h(theta,x,b))+xlogy(1-y,1-h(theta,x,b)))/m)

def grad_desc(lr,theta,x,y,b):
    theta=theta-lr*(np.sum(np.dot(x.T,(h(theta,x,b)-y))/m))
    b=b-((lr*np.sum(h(theta,x,b)-y))/m)
    return theta,b

def train(x,y,theta,b,iterations=20000,lr=0.001):
    for i in range(iterations):
        theta,b=grad_desc(lr,theta,x,y,b)
        if i%50==0:
            print("Cost: ",J(theta,x,b,y))
    return (theta,b)
def predict(model,x):
    theta=model[0]
    b=model[1]
    x=pd.read_csv(x)
    p=x["PassengerId"]
    '''for name in range(len(x['Name'])):
        for i in range(len(x['Name'][name])):
            if x['Name'][name][i]==',':
                x['Name'][name]=x['Name'][name][:i]
                break
    for i in range(len(x)):
        if x["Sex"][i]=="female":
            x["Sex"][i]=1
        else:
            x["Sex"][i]=0
    for i in range(len(x['Embarked'])):
        if x['Embarked'][i]=="S":
            x['Embarked'][i]=0
        elif x['Embarked'][i]=="Q":
            x['Embarked'][i]=1
        elif x['Embarked'][i]=="C":
            x['Embarked'][i]=2

    n=x['Name'].unique()
    d={}
    for i in range(len(n)):
        d[n[i]]=i
    for i in range(len(x)):
        x['Name'][i]=d[x['Name'][i]]
    
    x['fam_size']=x['SibSp']+x['Parch']+1
    x['designation']=x['Age']
    for z in range(len(x["Name"])):
        if(x["Parch"][z]>0):
            if x['Age'][z]>18 and x['Age'][z]<25:
                x['designation'][z]=1
            elif x['Age'][z]<=18:
                x['designation'][z]=2
            else:
                x['designation'][z]=3
        else:
            x['designation'][z]=0
    x["fam_cost"]=x['fam_size']*x['Fare']'''
    for i in range(len(x)):
        if x["Sex"][i]=="female":
            x["Sex"][i]=1
        else:
            x["Sex"][i]=0
    x=x.drop(['Ticket','Cabin','Name','Embarked','PassengerId'],axis=1)
    x=x.fillna(0)
    for i in x.columns[1:]:
        sd=np.max(x[i])-np.min(x[i])
        m=np.mean(x[i])
        x[i]=(x[i]-m)/sd
    x=x.values
    y1=h(theta,x,b)
    n=0
    d=0
    csv_data=[]
    for i in range(len(y1)):
        if(y1[i]>0.5):
            y1[i]=1
        else:
            y1[i]=0
        csv_data.append(np.array([int(p[i]),int(y1[i])]))
    return csv_data

model=train(x,labels,theta,b,8000,0.001)

(891, 6)
Cost:  1.0113300990745475
Cost:  0.9636429956288715
Cost:  0.9214656006709857
Cost:  0.8844921936624649
Cost:  0.8523420178846656
Cost:  0.8245852204145077
Cost:  0.8007684439811755
Cost:  0.7804372886168661
Cost:  0.7631540063207126
Cost:  0.7485099212236204
Cost:  0.736132923635862
Cost:  0.7256908824950149
Cost:  0.7168919981758025
Cost:  0.7094830758223734
Cost:  0.7032465411877156
Cost:  0.6979968246943192
Cost:  0.6935765526373818
Cost:  0.6898528294488702
Cost:  0.6867137775282735
Cost:  0.6840654183093978
Cost:  0.6818289234122618
Cost:  0.6799382308271802
Cost:  0.6783380018659806
Cost:  0.6769818851924095
Cost:  0.6758310510165049
Cost:  0.6748529590045178
Cost:  0.674020325949344
Cost:  0.6733102626994135
Cost:  0.6727035536034318
Cost:  0.672184055416363
Cost:  0.6717381960276597
Cost:  0.6713545564250656
Cost:  0.6710235219710664
Cost:  0.6707369913559121
Cost:  0.670488133531825
Cost:  0.6702711845663315
Cost:  0.6700812777192215
Cost:  0.6699143011861969
Cost:  0.6697667788981374
Cost:  0.6696357705491998
Cost:  0.6695187876764989
Cost:  0.6694137231517652
Cost:  0.6693187918903222
Cost:  0.6692324809510486
Cost:  0.669153507506039
Cost:  0.6690807834114695
Cost:  0.6690133853208661
Cost:  0.6689505294560624
Cost:  0.6688915502958105
Cost:  0.6688358825623961
Cost:  0.6687830459868634
Cost:  0.6687326324170663
Cost:  0.668684294902564
Cost:  0.6686377384487043
Cost:  0.6685927121810468
Cost:  0.6685490027021589
Cost:  0.6685064284570865
Cost:  0.6684648349525716
Cost:  0.6684240906992536
Cost:  0.668384083766413
Cost:  0.6683447188559191
Cost:  0.6683059148164479
Cost:  0.6682676025311882
Cost:  0.6682297231224882
Cost:  0.668192226425555
Cost:  0.6681550696906259
Cost:  0.6681182164792004
Cost:  0.6680816357251596
Cost:  0.6680453009360091
Cost:  0.6680091895132373
Cost:  0.6679732821739471
Cost:  0.667937562458609
Cost:  0.6679020163120655
Cost:  0.6678666317268497
Cost:  0.6678313984395203
Cost:  0.6677963076721132
Cost:  0.6677613519119865
Cost:  0.6677265247243463
Cost:  0.6676918205925907
Cost:  0.667657234782338
Cost:  0.6676227632256158
Cost:  0.6675884024222223
Cost:  0.6675541493557058
Cost:  0.6675200014217955
Cost:  0.6674859563674352
Cost:  0.6674520122388488
Cost:  0.6674181673372974
Cost:  0.6673844201813898
Cost:  0.6673507694749716
Cost:  0.6673172140797718
Cost:  0.6672837529920974
Cost:  0.6672503853229786
Cost:  0.6672171102812544
Cost:  0.6671839271591608
Cost:  0.6671508353200547
Cost:  0.6671178341879528
Cost:  0.667084923238621
Cost:  0.6670521019919828
Cost:  0.6670193700056507
Cost:  0.6669867268694172
Cost:  0.6669541722005591
Cost:  0.6669217056398407
Cost:  0.6668893268481051
Cost:  0.6668570355033737
Cost:  0.6668248312983731
Cost:  0.6667927139384298
Cost:  0.6667606831396764
Cost:  0.6667287386275228
Cost:  0.6666968801353562
Cost:  0.6666651074034314
Cost:  0.6666334201779273
Cost:  0.6666018182101421
Cost:  0.6665703012558091
Cost:  0.6665388690745129
Cost:  0.6665075214291928
Cost:  0.6664762580857201
Cost:  0.6664450788125373
Cost:  0.6664139833803513
Cost:  0.6663829715618729
Cost:  0.6663520431315928
Cost:  0.6663211978655941
Cost:  0.6662904355413892
Cost:  0.6662597559377836
Cost:  0.6662291588347576
Cost:  0.6661986440133686
Cost:  0.6661682112556636
Cost:  0.6661378603446095
Cost:  0.6661075910640288
Cost:  0.6660774031985499
Cost:  0.6660472965335603
Cost:  0.6660172708551686
Cost:  0.6659873259501727
Cost:  0.6659574616060321
Cost:  0.665927677610843
Cost:  0.6658979737533187
Cost:  0.6658683498227728
Cost:  0.6658388056091032
Cost:  0.6658093409027804
Cost:  0.6657799554948357
Cost:  0.6657506491768523
Cost:  0.6657214217409573
Cost:  0.6656922729798139
Cost:  0.6656632026866164
Cost:  0.665634210655084
Cost:  0.6656052966794568
Cost:  0.6655764605544913
Cost:  0.6655477020754575
Cost:  0.6655190210381352
Cost:  0.6654904172388109
Cost:  0.6654618904742765
Cost:  0.6654334405418256
Cost:  0.665405067239253
Cost:  0.6653767703648512
Cost:  0.6653485497174099
Cost:  0.6653204050962139
Cost:  0.6652923363010422
Cost:  0.6652643431321656
Cost:  0.6652364253903462
Cost:  0.6652085828768357
Cost:  0.6651808153933748

In [67]:
csv_data=predict(model,"./test.csv")

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
csv_data=np.array(csv_data)
df=pd.DataFrame(data=csv_data,index=csv_data[0:,0],columns=["PassengerId","Survived"])

In [71]:
df.to_csv("./submissions1.csv",sep=",",index=False)

In [70]:
df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.157895
std     120.810458    0.365079
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    0.000000
max    1309.000000    1.000000

In [6]:
from mindsdb import *

MindsDB().learn(
    from_data="train.csv",
    predict='Survived',
    model_name='titanic_model'
)

[WARNING] After version 1.0 rename_strange_columns in MindsDB().learn, the default value will be flipped from True to False

[START] DataExtractor
- Train: 701 rows
- Test: 115 rows
- Validation: 75 rows
-- Total: 891 rows
[END] DataExtractor, execution time: 0.008 seconds
[START] StatsGenerator
population_size=891,  sample_size=705  79.12%

Traceback (most recent call last):
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/controllers/transaction_controller.py", line 128, in executeLearn
    self.callPhaseModule('StatsGenerator')
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/controllers/transaction_controller.py", line 97, in callPhaseModule
    return module()
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/phases/base_module.py", line 73, in __call__
    ret = self.run(**kwargs)
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/phases/stats_generator/stats_generator.py", line 297, in run
    col_data = [cleanfloat(i) for i in newData if str(i) not in ['', str(None), str(False), str(np.nan), 'NaN', 'nan', 'NA']]
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/phases/stats_generator/stats_generator.py", line 297, in <listcomp>
    col_data = [cleanfloat(i) for i in newData if str(i) not in ['', str(None), str(False), str(np.nan), 'NaN', 'nan', 'NA']]
  File "/home/naruto/anaconda3/lib/python3.7/site-packages/mindsdb/libs/helpers/text_helpers.py", line 26, in cleanfloat
    return float(str)
ValueError: could not convert string to float: 'SC/PARIS 2131'
[ERROR] 'None'
[ERROR] "could not convert string to float: 'SC/PARIS 2131'"

In [2]:
!pip install mindsdb

Requirement already satisfied: mindsdb in /home/naruto/anaconda3/lib/python3.7/site-packages (0.9.0.1)
Requirement already satisfied: sklearn>=0.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.0)
Requirement already satisfied: Flask-SocketIO>=3.0.2 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.2.2)
Requirement already satisfied: hyperlink>=18.0.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (18.0.0)
Requirement already satisfied: setuptools>=21.2.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (40.2.0)
Requirement already satisfied: chardet>=3.0.4 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.0.4)
Requirement already satisfied: Twisted>=18.7.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (18.7.0)
Requirement already satisfied: torch>=0.4.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.0.1.post2)
Requirement already satisfied: idna>=2.7 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2.7)
Requirement already satisfied: MarkupSafe>=1.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.0)
Requirement already satisfied: pytz>=2018.5 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2018.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2.7.3)
Requirement already satisfied: incremental>=17.5.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (17.5.0)
Requirement already satisfied: tinymongo>=0.2.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.2.0)
Requirement already satisfied: torchvision>=0.2.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.2.1)
Requirement already satisfied: pandas>=0.23.4 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.23.4)
Requirement already satisfied: itsdangerous>=0.24 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.24)
Requirement already satisfied: txaio>=18.8.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (18.8.1)
Requirement already satisfied: scipy>=1.1.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.1.0)
Requirement already satisfied: python-socketio>=2.0.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.1.2)
Requirement already satisfied: urllib3>=1.23 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.23)
Requirement already satisfied: attrs>=18.2.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (18.2.0)
Requirement already satisfied: six>=1.11.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.11.0)
Requirement already satisfied: tinydb>=3.11.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.12.2)
Requirement already satisfied: tinydb-serialization>=1.0.3 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.0.4)
Requirement already satisfied: xlrd>=0.9.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.20.2)
Requirement already satisfied: openpyxl>=2.5.8 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2.6.0)
Requirement already satisfied: python-engineio>=2.3.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.3.2)
Requirement already satisfied: Flask>=1.0.2 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.0.2)
Requirement already satisfied: constantly>=15.1.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (15.1.0)
Requirement already satisfied: Werkzeug>=0.14.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.14.1)
Requirement already satisfied: Automat>=0.7.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.7.0)
Requirement already satisfied: Click>=7.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (7.0)
Requirement already satisfied: Pillow>=5.3.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (5.4.1)
Requirement already satisfied: zope.interface>=4.5.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (4.5.0)
Requirement already satisfied: requests>=2.20.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2.21.0)
Requirement already satisfied: wheel>=0.32.2 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.33.0)
Requirement already satisfied: eventlet>=0.24.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.24.1)
Requirement already satisfied: pymongo>=3.7.1 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (3.7.2)
Requirement already satisfied: Jinja2>=2.10 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (2.10)
Requirement already satisfied: cython>=0.29.2 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (0.29.5)
Requirement already satisfied: PyHamcrest>=1.9.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.9.0)
Requirement already satisfied: numpy>=1.15.2 in /home/naruto/anaconda3/lib/python3.7/site-packages (from mindsdb) (1.16.1)
Requirement already satisfied: et-xmlfile in /home/naruto/anaconda3/lib/python3.7/site-packages (from openpyxl>=2.5.8->mindsdb) (1.0.1)
Requirement already satisfied: jdcal in /home/naruto/anaconda3/lib/python3.7/site-packages (from openpyxl>=2.5.8->mindsdb) (1.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/naruto/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->mindsdb) (2018.8.24)
Requirement already satisfied: dnspython>=1.15.0 in /home/naruto/anaconda3/lib/python3.7/site-packages (from eventlet>=0.24.1->mindsdb) (1.16.0)
Requirement already satisfied: greenlet>=0.3 in /home/naruto/anaconda3/lib/python3.7/site-packages (from eventlet>=0.24.1->mindsdb) (0.4.15)
Requirement already satisfied: monotonic>=1.4 in /home/naruto/anaconda3/lib/python3.7/site-packages (from eventlet>=0.24.1->mindsdb) (1.5)
You are using pip version 10.0.1, however version 19.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.