In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
from scipy.special import xlogy

In [80]:
!pip install scipy

Requirement already satisfied: scipy in /home/naruto/anaconda3/lib/python3.7/site-packages (1.1.0)
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
df=pd.read_csv("./train.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
l=0
d={}
for name in range(len(df["Name"])):
    for i in range(len(df["Name"][name])):
        if df["Name"][name][i]==',':
            if df["Name"][name][:i] not in d.keys():
                d[df["Name"][name][:i]]=l
                l+=1
                df["Name"][name]=l
            else:
                df["Name"][name]=d[df["Name"][name][:i]]
            break

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [5]:
df["Sex"]=(df["Sex"]=="male")*1

In [6]:
d={"S":1,"C":2,"Q":3,np.nan:0}
for i in range(len(df)):
    df["Embarked"][i]=d[df["Embarked"][i]]

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,1,1,22.0,1,0,A/5 21171,7.2500,NaN,1
1,2,1,1,2,0,38.0,1,0,PC 17599,71.2833,C85,2
2,3,1,3,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,1
3,4,1,1,4,0,35.0,1,0,113803,53.1000,C123,1
4,5,0,3,5,1,35.0,0,0,373450,8.0500,NaN,1
5,6,0,3,6,1,NaN,0,0,330877,8.4583,NaN,3
6,7,0,1,7,1,54.0,0,0,17463,51.8625,E46,1
7,8,0,3,8,1,2.0,3,1,349909,21.0750,NaN,1
8,9,1,3,9,0,27.0,0,2,347742,11.1333,NaN,1
9,10,1,2,10,0,14.0,1,0,237736,30.0708,NaN,2
10,11,1,3,11,0,4.0,1,1,PP 9549,16.7000,G6,1
11,12,1,1,12,0,58.0,0,0,113783,26.5500,C103,1
12,13,0,3,13,1,20.0,0,0,A/5. 2151,8.0500,NaN,1
13,14,0,3,14,1,39.0,1,5,347082,31.2750,NaN,1
14,15,0,3,15,0,14.0,0,0,350406,7.8542,NaN,1
15,16,1,2,16,0,55.0,0,0,248706,16.0000,NaN,1
16,17,0,3,17,1,2.0,4,1,382652,29.1250,NaN,3
17,18,1,2,18,1,NaN,0,0,244373,13.0000,NaN,1
18,19,0,3,19,0,31.0,1,0,345763,18.0000,NaN,1
19,20,1,3,20,0,NaN,0,0,2649,7.2250,NaN,2
20,21,0,2,21,1,35.0,0,0,239865,26.0000,NaN,1
21,22,1,2,22,1,34.0,0,0,248698,13.0000,D56,1
22,23,1,3,23,0,15.0,0,0,330923,8.0292,NaN,3
23,24,1,1,24,1,28.0,0,0,113788,35.5000,A6,1
24,25,0,3,7,0,8.0,3,1,349909,21.0750,NaN,1
25,26,1,3,25,0,38.0,1,5,347077,31.3875,NaN,1
26,27,0,3,26,1,NaN,0,0,2631,7.2250,NaN,2
27,28,0,1,27,1,19.0,3,2,19950,263.0000,C23 C25 C27,1
28,29,1,3,28,0,NaN,0,0,330959,7.8792,NaN,3
29,30,0,3,29,1,NaN,0,0,349216,7.8958,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,648,1,21.0,1,0,28134,11.5000,NaN,1
862,863,1,1,649,0,48.0,0,0,17466,25.9292,D17,1
863,864,0,3,144,0,NaN,8,2,CA. 2343,69.5500,NaN,1
864,865,0,2,650,1,24.0,0,0,233866,13.0000,NaN,1
865,866,1,2,651,0,42.0,0,0,236852,13.0000,NaN,1
866,867,1,2,652,0,27.0,1,0,SC/PARIS 2149,13.8583,NaN,2
867,868,0,1,653,1,31.0,0,0,PC 17590,50.4958,A24,1
868,869,0,3,654,1,NaN,0,0,345777,9.5000,NaN,1
869,870,1,3,8,1,4.0,1,1,347742,11.1333,NaN,1
870,871,0,3,655,1,26.0,0,0,349248,7.8958,NaN,1
871,872,1,1,217,0,47.0,1,1,11751,52.5542,D35,1
872,873,0,1,583,1,33.0,0,0,695,5.0000,B51 B53 B55,1
873,874,0,3,656,1,47.0,0,0,345765,9.0000,NaN,1
874,875,1,2,267,0,28.0,1,0,P/PP 3381,24.0000,NaN,2
875,876,1,3,657,0,15.0,0,0,2667,7.2250,NaN,2
876,877,0,3,99,1,20.0,0,0,7534,9.8458,NaN,1
877,878,0,3,96,1,19.0,0,0,349212,7.8958,NaN,1
878,879,0,3,658,1,NaN,0,0,349217,7.8958,NaN,1
879,880,1,1,659,0,56.0,0,1,11767,83.1583,C50,2
880,881,1,2,660,0,25.0,0,1,230433,26.0000,NaN,1
881,882,0,3,661,1,33.0,0,0,349257,7.8958,NaN,1
882,883,0,3,662,0,22.0,0,0,7552,10.5167,NaN,1
883,884,0,2,663,1,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,1
884,885,0,3,664,1,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,1
885,886,0,3,16,0,39.0,0,5,382652,29.1250,NaN,3
886,887,0,2,665,1,27.0,0,0,211536,13.0000,NaN,1
887,888,1,1,233,0,19.0,0,0,112053,30.0000,B42,1
888,889,0,3,604,0,NaN,1,2,W./C. 6607,23.4500,NaN,1
889,890,1,1,666,1,26.0,0,0,111369,30.0000,C148,2
890,891,0,3,667,1,32.0,0,0,370376,7.7500,NaN,3

In [8]:
df=df.drop(columns=["Ticket","Cabin"])
df=df.fillna(0)

In [9]:
df['per_person']=pd.Series(df["Fare"]/(1+df["SibSp"]+df["Parch"]),index=df.index)

In [10]:
labels=df["Survived"].values
df=df.drop(columns=["PassengerId","Survived"])
print(labels)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [11]:
x=df.values

In [12]:
for i in df.columns:
    sd=np.max(df[i])-np.min(df[i])
    p=np.mean(df[i])
    df[i]=(df[i]-p)/sd
df

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,per_person
0,0.345679,-0.444313,0.352413,-0.022491,0.059624,-0.063599,-0.048707,-0.119716,-0.031799
1,-0.654321,-0.442814,-0.647587,0.177509,0.059624,-0.063599,0.076277,0.213618,0.030694
2,0.345679,-0.441315,-0.647587,0.027509,-0.065376,-0.063599,-0.047390,-0.119716,-0.023406
3,-0.654321,-0.439815,-0.647587,0.140009,0.059624,-0.063599,0.040786,-0.119716,0.012948
4,0.345679,-0.438316,0.352413,0.140009,-0.065376,-0.063599,-0.047146,-0.119716,-0.023162
5,0.345679,-0.436817,0.352413,-0.297491,-0.065376,-0.063599,-0.046349,0.546951,-0.022365
6,-0.654321,-0.435318,0.352413,0.377509,-0.065376,-0.063599,0.038370,-0.119716,0.062355
7,0.345679,-0.433818,0.352413,-0.272491,0.309624,0.103068,-0.021723,-0.119716,-0.030647
8,0.345679,-0.432319,-0.647587,0.040009,-0.065376,0.269734,-0.041128,-0.119716,-0.031631
9,-0.154321,-0.430820,-0.647587,-0.122491,0.059624,-0.063599,-0.004164,0.213618,-0.009527
10,0.345679,-0.429321,-0.647587,-0.247491,0.059624,0.103068,-0.030262,-0.119716,-0.028009
11,-0.654321,-0.427821,-0.647587,0.427509,-0.065376,-0.063599,-0.011036,-0.119716,0.012948
12,0.345679,-0.426322,0.352413,-0.047491,-0.065376,-0.063599,-0.047146,-0.119716,-0.023162
13,0.345679,-0.424823,0.352413,0.190009,0.059624,0.769734,-0.001814,-0.119716,-0.030153
14,0.345679,-0.423324,-0.647587,-0.122491,-0.065376,-0.063599,-0.047528,-0.119716,-0.023544
15,-0.154321,-0.421824,-0.647587,0.390009,-0.065376,-0.063599,-0.031629,-0.119716,-0.007644
16,0.345679,-0.420325,0.352413,-0.272491,0.434624,0.103068,-0.006010,0.546951,-0.029399
17,-0.154321,-0.418826,0.352413,-0.297491,-0.065376,-0.063599,-0.037484,-0.119716,-0.013500
18,0.345679,-0.417327,-0.647587,0.090009,0.059624,-0.063599,-0.027725,-0.119716,-0.021307
19,0.345679,-0.415827,-0.647587,-0.297491,-0.065376,-0.063599,-0.048756,0.213618,-0.024772
20,-0.154321,-0.414328,0.352413,0.140009,-0.065376,-0.063599,-0.012110,-0.119716,0.011874
21,-0.154321,-0.412829,0.352413,0.127509,-0.065376,-0.063599,-0.037484,-0.119716,-0.013500
22,0.345679,-0.411330,-0.647587,-0.109991,-0.065376,-0.063599,-0.047186,0.546951,-0.023202
23,-0.654321,-0.409830,0.352413,0.052509,-0.065376,-0.063599,0.006433,-0.119716,0.030417
24,0.345679,-0.435318,-0.647587,-0.197491,0.309624,0.103068,-0.021723,-0.119716,-0.030647
25,0.345679,-0.408331,-0.647587,0.177509,0.059624,0.769734,-0.001594,-0.119716,-0.030122
26,0.345679,-0.406832,0.352413,-0.297491,-0.065376,-0.063599,-0.048756,0.213618,-0.024772
27,-0.654321,-0.405333,0.352413,-0.059991,0.309624,0.269734,0.450483,-0.119716,0.046683
28,0.345679,-0.403833,-0.647587,-0.297491,-0.065376,-0.063599,-0.047479,0.546951,-0.023495
29,0.345679,-0.402334,0.352413,-0.297491,-0.065376,-0.063599,-0.047447,-0.119716,-0.023463
...,...,...,...,...,...,...,...,...,...
861,-0.154321,0.525702,0.352413,-0.034991,0.059624,-0.063599,-0.040412,-0.119716,-0.027651
862,-0.654321,0.527201,-0.647587,0.302509,-0.065376,-0.063599,-0.012248,-0.119716,0.011736
863,0.345679,-0.229920,-0.647587,-0.297491,0.934624,0.269734,0.072894,-0.119716,-0.026533
864,-0.154321,0.528700,0.352413,0.002509,-0.065376,-0.063599,-0.037484,-0.119716,-0.013500
865,-0.154321,0.530200,-0.647587,0.227509,-0.065376,-0.063599,-0.037484,-0.119716,-0.013500
866,-0.154321,0.531699,-0.647587,0.040009,0.059624,-0.063599,-0.035809,0.213618,-0.025349
867,-0.654321,0.533198,0.352413,0.090009,-0.065376,-0.063599,0.035703,-0.119716,0.059687
868,0.345679,0.534697,0.352413,-0.297491,-0.065376,-0.063599,-0.044316,-0.119716,-0.020331
869,0.345679,-0.433818,0.352413,-0.247491,0.059624,0.103068,-0.041128,-0.119716,-0.031631
870,0.345679,0.536197,0.352413,0.027509,-0.065376,-0.063599,-0.047447,-0.119716,-0.023463
871,-0.654321,-0.120475,-0.647587,0.290009,0.059624,0.103068,0.039721,-0.119716,-0.004681
872,-0.654321,0.428251,0.352413,0.115009,-0.065376,-0.063599,-0.053099,-0.119716,-0.029115
873,0.345679,0.537696,0.352413,0.290009,-0.065376,-0.063599,-0.045292,-0.119716,-0.021307
874,-0.154321,-0.045513,-0.647587,0.052509,0.059624,-0.063599,-0.016014,0.213618,-0.015452
875,0.345679,0.539195,-0.647587,-0.109991,-0.065376,-0.063599,-0.048756,0.213618,-0.024772
876,0.345679,-0.297387,0.352413,-0.047491,-0.065376,-0.063599,-0.043641,-0.119716,-0.019656
877,0.345679,-0.301884,0.352413,-0.059991,-0.065376,-0.063599,-0.047447,-0.119716,-0.023463
878,0.345679,0.540694,0.352413,-0.297491,-0.065376,-0.063599,-0.047447,-0.119716,-0.023463
879,-0.654321,0.542194,-0.647587,0.402509,-0.065376,0.103068,0.099456,0.213618,0.042283
880,-0.154321,0.543693,-0.647587,0.015009,-0.065376,0.103068,-0.012110,-0.119716,-0.013500
881,0.345679,0.545192,0.352413,0.115009,-0.065376,-0.063599,-0.047447,-0.119716,-0.023463
882,0.345679,0.546691,-0.647587,-0.022491,-0.065376,-0.063599,-0.042331,-0.119716,-0.018347
883,-0.154321,0.548191,0.352413,0.052509,-0.065376,-0.063599,-0.042364,-0.119716,-0.018380
884,0.345679,0.549690,0.352413,0.015009,-0.065376,-0.063599,-0.049098,-0.119716,-0.025113
885,0.345679,-0.421824,-0.647587,0.190009,-0.065376,0.769734,-0.006010,0.546951,-0.029399
886,-0.154321,0.551189,0.352413,0.040009,-0.065376,-0.063599,-0.037484,-0.119716,-0.013500
887,-0.654321,-0.096487,-0.647587,-0.059991,-0.065376,-0.063599,-0.004302,-0.119716,0.019682
888,0.345679,0.459735,-0.647587,-0.297491,0.059624,0.269734,-0.017087,-0.119716,-0.027431
889,-0.654321,0.552688,0.352413,0.027509,-0.065376,-0.063599,-0.004302,0.213618,0.019682
890,0.345679,0.554188,0.352413,0.102509,-0.065376,-0.063599,-0.047731,0.546951,-0.023747

In [13]:
def clean_data(file="./train.csv",test=0):
    df=pd.read_csv(file)
    l=0
    d={}
    for name in range(len(df["Name"])):
        for i in range(len(df["Name"][name])):
            if df["Name"][name][i]==',':
                if df["Name"][name][:i] not in d.keys():
                    d[df["Name"][name][:i]]=l
                    l+=1
                    df["Name"][name]=l
                else:
                    df["Name"][name]=d[df["Name"][name][:i]]
                break
    df["Sex"]=(df["Sex"]=="male")*1
    d={"S":1,"C":2,"Q":3,np.nan:0}
    for i in range(len(df)):
        df["Embarked"][i]=d[df["Embarked"][i]]
    df=df.drop(columns=["Ticket","Cabin"])
    df=df.fillna(0)
    df['per_person']=pd.Series(df["Fare"]/(1+df["SibSp"]+df["Parch"]),index=df.index)
    if(test==0):
        labels=df["Survived"].values
        df=df.drop(columns=["PassengerId","Survived"])
        for i in df.columns:
            sd=np.max(df[i])-np.min(df[i])
            p=np.mean(df[i])
            df[i]=(df[i]-p)/sd
        return df.values,labels
    else:
        for i in df.columns:
            sd=np.max(df[i])-np.min(df[i])
            p=np.mean(df[i])
            df[i]=(df[i]-p)/sd
        return df.values

In [110]:
x1=x[:700]
x2=x[700:]
labels1=labels[:700]
labels2=labels[700:]

In [128]:
def sigmoid(x):
    return 1/(1+np.exp(-x))
def h(theta,x,b):
    y=np.dot(x,theta)+b
    return sigmoid(y)
def sigmoid_deff(x):
    return sigmoid(x)*(1-sigmoid(x))
def compute_cost(y,y1,m,regu):
    return (-np.sum(xlogy(y,y1)+xlogy(1-y,1-y1))/m)+regu*np.sum()
def model(X,y,num_hidden=3,sizes=[9,9,9,9,1],num_iters=500,lr=0.01,regu=1):
    num_inputs=X.shape[1]
    m=X.shape[0]
    X=X.T
    params={"Z0":X,"A0":X}
    for i in range(num_hidden+1):
        params["W"+str(i+1)]=np.random.randn(sizes[i+1],sizes[i])*0.01
        params["b"+str(i+1)]=np.zeros([sizes[i+1],1])
    for j in range(num_iters):
        for i in range(num_hidden+1):
            params["Z"+str(i+1)]=np.dot(params["W"+str(i+1)],params["Z"+str(i)])+params["b"+str(i+1)]
            params["A"+str(i+1)]=sigmoid(params["Z"+str(i+1)])
        params["dZ"+str(num_hidden+1)]=params["A"+str(i+1)]-y
        params["dW"+str(num_hidden+1)]=np.dot(params["dZ"+str(num_hidden+1)],params["A"+str(num_hidden)].T)/m
        params["db"+str(num_hidden+1)]=np.sum(params["dZ"+str(num_hidden+1)],axis=1,keepdims=True)/m
        for i in range(num_hidden,0,-1):
            params["W"+str(i+1)]=params["W"+str(i+1)]-lr*params["dW"+str(i+1)]
            params["b"+str(i+1)]=params["b"+str(i+1)]-lr*params["db"+str(i+1)]
            params["dZ"+str(i)]=np.dot(params["W"+str(i+1)].T,params["dZ"+str(i+1)])*sigmoid_deff(params["Z"+str(i)])
            params["dW"+str(i)]=np.dot(params["dZ"+str(i)],params["A"+str(i-1)].T)/m
            params["db"+str(i)]=np.sum(params["dZ"+str(i)],axis=1,keepdims=True)/m
        params["W"+str(1)]=params["W"+str(1)]-lr*params["dW"+str(1)]
        params["b"+str(1)]=params["b"+str(1)]-lr*params["db"+str(1)]
        if j%100==0:
            print("The cost after iter ",str(j),": ",str(compute_cost(y,params["A"+str(num_hidden+1)],m)))
            #print(params["A4"])
    l=0
    for i in range(m):
        if params["A4"][i][0]>0.5:
            params["A4"][i][0]=1
        else:
            params["A4"][i][0]=0
        if params["A4"][i][0]==y[i][0]:
            l+=1
    print(l/m)
    return params

In [126]:
params=model(x1,labels1)

The cost after iter  0 :  507.27238615316475
The cost after iter  100 :  15.609048196329898
The cost after iter  200 :  5.544586998479831
The cost after iter  300 :  3.132549227992722
The cost after iter  400 :  2.160078132747654
1.0

In [120]:
def predict(params,X,y,num_hidden=3):
    num_inputs=X.shape[1]
    m=X.shape[0]
    X=X.T
    params["Z0"]=X
    for i in range(num_hidden+1):
        params["Z"+str(i+1)]=np.dot(params["W"+str(i+1)],params["Z"+str(i)])+params["b"+str(i+1)]
        params["A"+str(i+1)]=sigmoid(params["Z"+str(i+1)])
    l=0
    for i in range(m):
        if params["A4"][i][0]>0.5:
            params["A4"][i][0]=1
        else:
            params["A4"][i][0]=0
        if params["A4"][i][0]==y[i][0]:
            l+=1
    print(l/m)

In [127]:
predict(params,x2,labels2)

0.5340314136125655