In [147]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [146]:
mdf=pd.read_csv("./train.csv")
mdf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [88]:
for name in range(len(traindf['Name'])):
    for i in range(len(traindf['Name'][name])):
        if traindf['Name'][name][i]==',':
            traindf['Name'][name]=traindf['Name'][name][:i]
            break

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [89]:
for i in range(len(traindf)):
    if traindf["Sex"][i]=="male":
        traindf["Sex"][i]=1
    else:
        traindf["Sex"][i]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [90]:
for i in range(len(traindf['Embarked'])):
    if traindf['Embarked'][i]=="S":
        traindf['Embarked'][i]=0
    elif traindf['Embarked'][i]=="Q":
        traindf['Embarked'][i]=1
    elif traindf['Embarked'][i]=="C":
        traindf['Embarked'][i]=2

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [109]:
labels=traindf["Survived"]
n=traindf['Name'].unique()
d={}
for i in range(len(n)):
    d[n[i]]=i
for i in range(len(traindf)):
    traindf['Name'][i]=d[traindf['Name'][i]]
traindf=traindf.drop(['Ticket','Cabin',],axis=1)

KeyError: 'Survived'

In [52]:
for i in range(len(traindf["Sex"])):
    if traindf["Sex"][i]==True:
        traindf["Sex"][i]=1
    else:
        traindf["Sex"][i]=0

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [92]:

for i in traindf.columns[1:]:
    sd=np.max(traindf[i])-np.min(traindf[i])
    m=np.mean(traindf[i])
    traindf[i]=(traindf[i]-m)/sd
traindf=traindf.fillna(0)

In [94]:
traindf=traindf.drop(['PassengerId'],axis=1)

In [113]:
labels=np.array(labels)
labels=np.reshape(labels,(labels.shape[0],1))

In [187]:
x=traindf.values
b=np.random.rand(1,1)
theta=np.random.rand(x.shape[1],1)
m=x.shape[0]
def sigmoid(x):
    return 1/(1+np.exp(-x))
def h(theta,x,b):
    y=np.dot(x,theta)+b
    return sigmoid(y)

def J(theta,x,b,y):
    return np.sum(-y*np.log(h(theta,x,b)-(1-y)*np.log(1-h(theta,x,b))))/m

def grad_desc(lr,theta,x,y,b):
    theta=theta-lr*np.dot(x.T,(h(theta,x,b)-y))/m
    b=b-lr*np.sum(h(theta,x,b)-y)/m
    return theta,b

def train(x,y,theta,b,iterations=20000,lr=0.001):
    for i in range(iterations):
        theta,b=grad_desc(lr,theta,x,y,b)
        if i%500==0:
            print("Cost: ",J(theta,x,b,y))
    return (theta,b)
def predict(model,x):
    theta=model[0]
    b=model[1]
    x=pd.read_csv(x)
    p=x["PassengerId"]
    for name in range(len(x['Name'])):
        for i in range(len(x['Name'][name])):
            if x['Name'][name][i]==',':
                x['Name'][name]=x['Name'][name][:i]
                break
    for i in range(len(x)):
        if x["Sex"][i]=="male":
            x["Sex"][i]=1
        else:
            x["Sex"][i]=0
    for i in range(len(x['Embarked'])):
        if x['Embarked'][i]=="S":
            x['Embarked'][i]=0
        elif x['Embarked'][i]=="Q":
            x['Embarked'][i]=1
        elif x['Embarked'][i]=="C":
            x['Embarked'][i]=2

    n=x['Name'].unique()
    d={}
    for i in range(len(n)):
        d[n[i]]=i
    for i in range(len(x)):
        x['Name'][i]=d[x['Name'][i]]
    x=x.drop(['Ticket','Cabin'],axis=1)
    for i in x.columns[1:]:
        sd=np.max(x[i])-np.min(x[i])
        m=np.mean(x[i])
        x[i]=(x[i]-m)/sd
    x=x.fillna(0)
    x=x.drop(['PassengerId'],axis=1)
    x=x.values
    y1=h(theta,x,b)
    n=0
    d=0
    csv_data=[]
    for i in range(len(y1)):
        if(y1[i]>0.5):
            y1[i]=1
        else:
            y1[i]=0
        csv_data.append(np.array([int(p[i]),int(y1[i])]))
    return csv_data

model=train(x,labels,theta,b,80000,0.03)

Cost:  0.25718673160710503
Cost:  0.29258906582883054
Cost:  0.2678068688666263
Cost:  0.2610975803722229
Cost:  0.25901152495674423
Cost:  0.258155474258923
Cost:  0.25764073591927594
Cost:  0.25720876135383836
Cost:  0.2567843989306671
Cost:  0.2563509419853881
Cost:  0.25591028469337596
Cost:  0.2554692053772959
Cost:  0.2550346136759867
Cost:  0.25461208216311815
Cost:  0.2542055971038753
Cost:  0.2538177329909253
Cost:  0.2534499393219696
Cost:  0.25310282196120276
Cost:  0.25277638062319685
Cost:  0.25247019576160096
Cost:  0.2521835698542949
Cost:  0.2519156313950878
Cost:  0.25166540987711694
Cost:  0.2514318888701762
Cost:  0.25121404287133464
Cost:  0.2510108623003838
Cost:  0.25082136992819776
Cost:  0.2506446311744961
Cost:  0.2504797600620886
Cost:  0.2503259221285909
Cost:  0.2501823352371247
Cost:  0.2500482689637944
Cost:  0.24992304304732949
Cost:  0.24980602524647064
Cost:  0.24969662884939609
Cost:  0.24959431000629978
Cost:  0.2494985650035034
Cost:  0.24940892755957997
Cost:  0.24932496619683403
Cost:  0.24924628172213517
Cost:  0.2491725048373962
Cost:  0.24910329389035227
Cost:  0.2490383327696097
Cost:  0.2489773289433497
Cost:  0.24892001163803038
Cost:  0.24886613015145487
Cost:  0.24881545229338597
Cost:  0.24876776294624373
Cost:  0.2487228627381549
Cost:  0.2486805668206262
Cost:  0.2486407037432853
Cost:  0.24860311441842495
Cost:  0.24856765116844973
Cost:  0.24853417684971862
Cost:  0.24850256404669985
Cost:  0.24847269433077568
Cost:  0.24844445757844025
Cost:  0.24841775134403796
Cost:  0.24839248028256256
Cost:  0.24836855561839782
Cost:  0.24834589465620885
Cost:  0.2483244203305116
Cost:  0.24830406079072614
Cost:  0.24828474901879577
Cost:  0.24826642247668945
Cost:  0.24824902278133873
Cost:  0.2482324954047616
Cost:  0.24821678939731848
Cost:  0.24820185713221649
Cost:  0.2481876540695422
Cost:  0.24817413853824222
Cost:  0.24816127153460799
Cost:  0.24814901653594235
Cost:  0.2481373393281956
Cost:  0.24812620784645883
Cost:  0.24811559202729883
Cost:  0.2481054636719994
Cost:  0.248095796319855
Cost:  0.24808656513072852
Cost:  0.24807774677615663
Cost:  0.24806931933833717
Cost:  0.2480612622163933
Cost:  0.24805355603935608
Cost:  0.24804618258535224
Cost:  0.24803912470652417
Cost:  0.24803236625925223
Cost:  0.2480258920392755
Cost:  0.24801968772134766
Cost:  0.24801373980308747
Cost:  0.24800803555271433
Cost:  0.248002562960379
Cost:  0.24799731069282868
Cost:  0.24799226805115956
Cost:  0.2479874249314333
Cost:  0.2479827717879489
Cost:  0.2479782995989794
Cost:  0.2479739998347952
Cost:  0.24796986442781108
Cost:  0.247965885744706
Cost:  0.24796205656037498
Cost:  0.2479583700335851
Cost:  0.2479548196842153
Cost:  0.24795139937196936
Cost:  0.2479481032764589
Cost:  0.247944925878565
Cost:  0.247941861942984
Cost:  0.24793890650188377
Cost:  0.24793605483958772
Cost:  0.24793330247822312
Cost:  0.24793064516426241
Cost:  0.24792807885590182
Cost:  0.24792559971122044
Cost:  0.2479232040770653
Cost:  0.24792088847861715
Cost:  0.24791864960959045
Cost:  0.24791648432302632
Cost:  0.24791438962263915
Cost:  0.24791236265468236
Cost:  0.2479104007002967
Cost:  0.24790850116831337
Cost:  0.24790666158848057
Cost:  0.24790487960508648
Cost:  0.24790315297095503
Cost:  0.24790147954178857
Cost:  0.24789985727083805
Cost:  0.24789828420387772
Cost:  0.2478967584744676
Cost:  0.2478952782994835
Cost:  0.2478938419749015
Cost:  0.24789244787181633
Cost:  0.24789109443268403
Cost:  0.24788978016777344
Cost:  0.24788850365181134
Cost:  0.24788726352081503
Cost:  0.24788605846909617
Cost:  0.24788488724642674
Cost:  0.24788374865536092
Cost:  0.24788264154869796
Cost:  0.24788156482708246
Cost:  0.24788051743673178
Cost:  0.24787949836728368
Cost:  0.24787850664975747
Cost:  0.24787754135462164
Cost:  0.24787660158996125
Cost:  0.247875686499742
Cost:  0.24787479526216202
Cost:  0.24787392708808892
Cost:  0.24787308121957663
Cost:  0.24787225692845602
Cost:  0.24787145351499834
Cost:  0.24787067030664475
Cost:  0.24786990665679914
Cost:  0.24786916194368097
Cost:  0.24786843556923488
Cost:  0.24786772695809423
Cost:  0.24786703555659295
Cost:  0.2478663608318293
Cost:  0.24786570227077112
Cost:  0.24786505937940664
Cost:  0.24786443168193395

In [188]:
csv_data=predict(model,"../test.csv")

/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/naruto/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [189]:
csv_data=np.array(csv_data)
df=pd.DataFrame(data=csv_data,index=csv_data[0:,0],columns=["PassengerId","Survived"])

In [190]:
df.to_csv("./submissions.csv",sep=",",index=False)

In [191]:
df

      PassengerId  Survived
892           892         0
893           893         0
894           894         0
895           895         0
896           896         1
897           897         0
898           898         1
899           899         0
900           900         1
901           901         0
902           902         0
903           903         0
904           904         1
905           905         0
906           906         1
907           907         1
908           908         0
909           909         0
910           910         0
911           911         0
912           912         0
913           913         0
914           914         1
915           915         1
916           916         1
917           917         0
918           918         1
919           919         0
920           920         0
921           921         0
...           ...       ...
1280         1280         0
1281         1281         0
1282         1282         1
1283         1283         1
1284         1284         0
1285         1285         0
1286         1286         0
1287         1287         1
1288         1288         0
1289         1289         1
1290         1290         0
1291         1291         0
1292         1292         1
1293         1293         0
1294         1294         1
1295         1295         1
1296         1296         0
1297         1297         0
1298         1298         0
1299         1299         0
1300         1300         1
1301         1301         1
1302         1302         1
1303         1303         1
1304         1304         1
1305         1305         0
1306         1306         1
1307         1307         0
1308         1308         0
1309         1309         0

[418 rows x 2 columns]